In [3]:
import pandas as pd
import requests

In [6]:
def download_file(url, filename):
  with open(filename, "wb") as f:
    f.write(requests.get(url).content)

In [7]:
download_file("https://raw.githubusercontent.com/mdiplo/Medias_francais/master/medias_francais.tsv", "current.tsv")
download_file("https://raw.githubusercontent.com/johanricher/Medias_francais/wikidata/medias_francais.tsv", "old_with_wikidata.tsv")

In [9]:
df_current = pd.read_csv("current.tsv", sep="\t")
df_old_with_wikidata = pd.read_csv("old_with_wikidata.tsv", sep="\t")

In [14]:
df_diff = pd.merge(df_current[['id', 'nom']], df_old_with_wikidata[['id', 'nom']], on='id', suffixes=('_current', '_old_with_wikidata'))
df_diff[df_diff['nom_current'] != df_diff['nom_old_with_wikidata']]

,id,nom_current,nom_old_with_wikidata
11,12,Combat Solutions,Les Nouvelles Éditions indépendantes
25,26,HuffPost,Huffingtonpost.fr
59,61,Altice Média,NextRadioTV
67,69,Lagardère SA,Lagardère SCA
68,70,Lagardère News,Lagardère Active
127,129,République fédérale d’Allemagne,Länder de République fédérale d’Allemagne
271,276,Ayant droit de Bernard Tapie,Bernard Tapie
302,307,Ariane de Rothschild,Benjamin et Ariane de Rothschild
316,324,Alain Weill,Alain Weil
317,325,Groupe L’Opinion,Groupe L’Opinon

In [16]:
df_current_with_wikidata = pd.merge(df_current, df_old_with_wikidata[["id", "wikidata_id"]], on='id', how="left")
df_current_with_wikidata

,id,nom,typeLibelle,typeCode,rangChallenges,milliardaireForbes,mediaType,mediaPeriodicite,mediaEchelle,commentaire,ACPMdiffusion,wikidata_id
0,1,Claude Perdriel,Personne physique,1,343.0,NaN,NaN,NaN,NaN,NaN,NaN,Q2977933
1,2,Sophia Publications,Personne morale,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q16336113
2,3,Groupe Perdriel,Personne morale,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q3117520
3,4,L’histoire,Média,3,NaN,NaN,GPE,Mensuel,NaN,NaN,49658.0,Q2890690
4,5,Historia,Média,3,NaN,NaN,GPE,Mensuel,NaN,NaN,58882.0,Q3138323
...,...,...,...,...,...,...,...,...,...,...,...,...
335,343,Télé 7 Jours,Média,3,NaN,NaN,GPE,Hebdomadaire,National,Payant,908618.0,NaN
336,344,La Première,Média,3,NaN,NaN,Télévision,NaN,National,Gratuit,NaN,NaN
337,345,France Catholique,Média,3,NaN,NaN,GPE,NaN,National,Payant,NaN,NaN
338,346,Franc-Tireur,Média,3,NaN,NaN,GPE,NaN,National,Payant,NaN,NaN
339,347,Néon,Média,3,NaN,NaN,GPE,NaN,National,Payant,NaN,NaN

In [17]:
df_current_with_wikidata.to_csv("current_with_wikidata.tsv", sep="\t", index=False, float_format='%.0f')